/*main navbar content*/
.navigation__nav {
    width: 6rem;
    height: 6rem;
    border-radius: 3px;
    background-color: #28b485;
    position: absolute;
    top: 3rem;
    right: 3rem; 
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all .2s;
    z-index: -1;
}

.navigation__checkbox:checked ~ .navigation__nav {
    padding: 1rem 1rem 7rem 25rem;
    transform: translate(1rem, -1rem);
    z-index: 5;
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    list-style: none;
    width: 60%;
}

.navigation__item {
    text-align: center;
    padding: .5rem 0;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    transition: all .2s;
}
.navigation__item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.navigation__item:hover,
.navigation__item:active  {
    cursor: pointer;
    color: #28b485;
    border-bottom: 1px solid #28b485;
    background-color: #fff;
    font-weight: 700;
}

.navigation__item:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
}

.navigation__item:active {
    transform: translateY(-.1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 560px){
    .navigation__nav  {
        top: 1.5rem;
        right: 1.5rem; 
    }
}